.banner {
    height: 75px;
    color: white;
    background-color: darkblue;
    border-radius: 2px;
}
div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.main_ui {
    background-color: aliceblue;
    margin: auto;
    width: 50%;
    padding: 25px;
}
h1 {
    padding: 10px;
}
.banner h2{
    color: white;
    left: 50px;
}

.banner Img{
    float: right;
    height: 50px;
}


