.banner {
    height: 75px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    left: 50px;
}

.banner Img{
    float: right;
    height: 75px;
}

div {
  padding: 10px;
}

